.jumbotron {
    background-image: url("../images/markus-spiske-hvSr_CVecVI-unsplash.jpg");
    background-size: cover;
    height: 100%;
    min-height: 300px;
    color: #fff;
}
.navbar{
    margin-bottom:0;
}
.navbar-right {
  float: right !important;
  margin-right: -5px;
}
.card-image img{
  min-height: 240px;
  max-height: 240px;
  border-radius: 8px 8px 0px 0;
}
.card{
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}
.card-text{
  min-height: 100px;		
}
.card-body{
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.btn{
  margin-top: 15px;
}
.btn_container{
  display: flex;
  justify-content: space-between;
}
.about{
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
}
.card-margin{
    margin-left: 20px;
}
.book-list{
  margin-left: 30px;
}